/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  body, nav{
    font-size: 36px;
  }



/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  body,nav{
    font-size: 36px;
  }


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  body,nav{
    font-size: 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

.container-fluid {
  background-color: rosybrown;

}

html, body {
    height: 100%;
    background-color: rosybrown!important;
}
